##Main##
#Starting 3proxy as a service/daemon
daemon

#DNS Servers to resolve domains and for the local DNS cache
#that providers faster resolution for cached entri
nserver 8.8.8.8
nserver 8.8.4.4
nscache 65536

#Authentication
#CL = Clear Text, CR = Encrypted Passswords (MD5)
#Add MD5 users with MD5 passwords with "" (see below)
#users "user:CR:$1$lFDGlder$pLRb4cU2D7GAT58YQvY49."
users $/etc/.proxyauth

#Logging
log /var/log/3proxy/3proxy.log D
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
rotate 30

#Auth type
#auth strong = username & password
#auth iponly = ip only, ignoring usernames
auth strong

#Binding address
#external 0.0.0.0
#internal 0.0.0.0

#SOCKS5
deny * * 127.0.0.1,192.168.1.1
allow * * * 80-88,8080-8088 HTTP
allow * * * 443,8443 HTTPS
#allow * * * 1-65535 HTTP
#allow * * * 1-65535 HTTPS
proxy -n -p3128 -a -i123.456.7.01 -e123.456.7.01
proxy -n -p3128 -a -i123.456.7.02 -e123.456.7.02
#replace above IPs with your server IPs
#replace 'proxy'above for 'socks' to converto to socks proxy
